/* Styling tombol WhatsApp */
.whatsapp-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;  /* Membuat tombol menjadi bulat */
  padding: 0;
  width: 40px;   /* Lebar tombol yang diinginkan */
  height: 40px;  /* Tinggi tombol yang sama dengan lebar */
  text-decoration: none;
  transition: background-color 0.3s; /* Transisi warna saat hover */
}

.whatsapp-button:hover {
  background-color: #128c7e;  /* Ubah warna tombol saat dihover */
}

.whatsapp-button svg {
  font-size: 24px;  /* Ukuran ikon WhatsApp */
  color: white;     /* Warna ikon */
}
