.btn-animated {
  transition: all 235ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
}

.btn-animated:hover {
  transform: translate3d(0, 2px, 0);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
}

.btn-animated:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
